body {
  background: rgb(var(--milk));
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

label {
  display: block;
}

video {
  object-fit: cover;
}

button {
  --backg: rgba(var(--transp));
  --color: rgb(var(--black));

  display: block;
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
}

video {
  pointer-events: none;
}

main section,
footer {
  min-height: 100vh;
}

main section,
footer {
  position: relative;
}

main section:nth-child(even) {
  background: rgb(var(--white));
}

main section:nth-child(odd) {
  box-shadow: inset 0 0 30px rgba(var(--blackCoffee), 0.2);
}

.logo {
  display: block;
  width: clamp(200px, 50%, 260px);
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3,
p,
span,
a,
button,
label,
input,
input::placeholder {
  font-size: calc(var(--step-0) - 2px);
}

a,
p {
  color: rgb(var(--black));
}

a {
  cursor: pointer;
  user-select: none;
}

input {
  display: block;
  background: unset;
  border: unset;
}

input::placeholder {
  color: var(--black);
  user-select: none;
}

.whiteButton {
  background: rgba(var(--backg));
  box-shadow: 0 0 0 2px rgb(var(--blackCoffee));
  font-weight: 600;
  border-radius: 100vw;
  transition: .2s all;
  padding: calc(var(--step-0) - 0.3rem) calc(var(--step-0));
  color: rgb(var(--color));
}

.whiteButton:hover {
  --backg: var(--blackCoffee);
  --color: var(--white);
}

.title {
  position: relative;
  text-transform: capitalize;
  font-size: 27px;
  padding: 5vh 0;
  width: fit-content;
}

.title.left,
:where(main>*:not(:where(.slider)), footer) .title.left::after {
  left: 0;
}

.title.center,
:where(main>*:not(:where(.slider)), footer) .title.center::after {
  transform: translateX(-50%);
  left: 50%;
}

:where(main>*:not(:where(.slider)), footer) .title::after {
  content: '';
  position: absolute;
  background: rgb(var(--black));
  width: 40px;
  height: 2px;
  top: 80%;
}

#menu .content {
  box-shadow: 0 0 20px rgba(var(--black), 0.2);
  max-width: 500px;
  width: 100%;
  height: inherit;
  right: 0;
  top: 0;
}

select {
  background: unset;
  border: unset;
  cursor: pointer;
  user-select: none;
}

select option {
  padding: 0 20px;
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  display: unset;
  width: 16px;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgb(var(--gray));
  border: 4px solid rgb(var(--white));
  border-radius: 100vw;
}

#menu .content {
  display: flex;
  flex-direction: column;
}

#menu .navigation {
  overflow-y: scroll;
}

#menu .content>* {
  padding: 4%;
}

#menu nav {
  border-bottom: 2px solid rgba(var(--coffee), 0.2);
  padding: 10px 0;
}

#menu nav:last-child {
  border-bottom: unset;
}

#menu li a::before {
  content: '';
  position: absolute;
  background: rgb(var(--black));
  width: 8px;
  height: 1px;
  transform: translateY(-50%);
  transition: 0.2s opacity;
  top: 50%;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

#menu li a {
  --space: 0px;

  position: relative;
  display: block;
  transition: .2s padding-left;
  padding: 6px 0 6px var(--space);
}

#menu li a:hover {
  --space: 20px;
}

#menu li a:hover::before {
  opacity: 1;
}

#menu .panel {
  display: flex;
  align-items: center;
  background: rgba(var(--coffee), 0.2);
  border-bottom: 2px solid rgba(var(--coffee), 0.6);
}

#menu .panel>*:not(:last-child) {
  margin-right: 4%;
}

#menu #select span {
  text-transform: uppercase;
}